<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daakia.callkit_flutter">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application>
        <activity
            android:name=".IncomingCallActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:turnScreenOn="true" />
        <service
            android:name=".IncomingCallService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
